.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #F1F5F9;
}

.dashboard-content {
  display: flex;
  /* padding: 20px; */
  background-color: #f1f1f1;
  flex-grow: 1;
}
