.sidebar {
  width: 290px;
  height: 100vh;
  background-color: #1C2434;
  color: white;

}

.sidebar h2 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 22px;
}

.elements {
  margin: 80px 0;
  margin-left: 40px;
}

.elements h3 {
  font-size: 17px;
  font-weight: 500;
  color: #DEE4EE;
}

.elements ul {
  padding-left: 0;
}

.elements ul li {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; Space between menu items */
}

/* Styling for the links inside the sidebar */
.elements ul li a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: white; /* Set text color to white */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  padding: 0 12px;
  border-radius: 5px; /* Rounded corners for hover effect */
  width: 100%;
}

.elements ul li a:hover {
  background-color: #2C3548; /* Slightly lighter background on hover */
  color: #DEE4EE; /* Text color on hover */
}

/* Styling for icons */
.icons {
  width: 18px;
  padding-right: 10px;
  color: white; /* Ensure icon color matches text */
}
